/* 
    font-family: "Graphik-Light";
    font-family: "Graphik-Bold";
    font-family: 'Roboto', sans-serif; // regular 400
*/


/* ===========================================
Table of Content:
    1.GLOBAL 
        1.1.Main paddings
        1.2.Typography
        1.3.Font Colors
            - Buttons
            - Hover Effects
        1.4.Z-Index
        1.5.Layout
    2.HERO
    3.FEATURES
    4.FASTEST WAY
    5.NEWSLETTER
    6.PARTNERS
    7.TESTIMONIALS
    8.PRICING
    9.CONTACT
    10.FOOTER
*/

/* mobile design is made for 418 * 863 screen width * height */

/* ===========================================
1.GLOBAL 
*/
/* 1.1.Main paddings */
header {
    padding: 1.7rem 1.6rem;
}

.hero-info {
    padding-top: 9rem;
}

.features {
    padding-top: 12rem;
    padding-bottom: 11.3rem;
}

.fastest-way,
.newsletter,
.partners {
    padding-bottom: 16rem;
}

.testimonials {
    padding-bottom: 10rem;
}

.pricing {
    padding: 6rem 0;
    margin-bottom: 16rem;
}

.contact {
    padding-bottom: 15rem;
}

footer {
    padding: 11.7rem 6.7rem 12.7rem 6.7rem;
}

.fastest-way img,
.newsletter img {
    padding: 0 2.3rem 0 2.3rem;
}

.newsletter img {
    padding-bottom: 6.9rem;
}

.social-icons {
    width: 17rem;
}

/* 1.2.Typography */
/*
--> coded in reset-normalizer.css:
Main font family - Graphik-Light, sans-serif,
Main font-size: 62.5% -> 10px=1rem,
Main font weight: 300,
Main line-height: 2.8rem;
*/
.main-title,
.title,
.small-title,
p,
.partner-name,
.testimonial-author-name {
    text-align: center;
}

.address-text {
    text-align: left;
    font-style: normal;
}

.main-title {
    font-size: 4.8rem;
    line-height: 5.5rem;
    padding: 0 4.2rem 3.5rem 4.2rem;
}

.title {
    font-size: 2.8rem;
    line-height: 4rem;
    padding: 0 5.6rem 8rem 5.6rem;
}

.pricing .title {
    padding-bottom: 10.8rem;
}

.contact .title,
.contact .social-icons,
.contact address {
    padding-bottom: 7rem;
}

.small-title,
.price-currency {
    font-family: "Graphik-Bold";
    font-size: 2rem;
}

.partner-name,
.pricing-offer-text,
.pricing-due-date,
.address-text {
    font-size: 1.6rem;
    line-height: 2.3rem;
}

p {
    font-size: 1.8rem;
    line-height: 2.5rem;
}

.testimonial-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
}

.testimonial-author-name {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    font-weight: 700;
}

.testimonial-author-profession {
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.newsletter input[type="email"] {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
}

.contact input,
footer .address-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
}

.price-amount {
    font-family: "Graphik-Bold";
    font-size: 7.4rem;
    line-height: 8.4rem;
}

.pricing-feature {
    font-size: 1.5rem;
}

.btn,
.contact .btn {
    font-size: 2rem;
}

.btn-bold {
    font-family: "Graphik-Bold";
}


/* 1.3.Font Colors */
html {
    color: #252B42;
}

.title,
.feature p,
.newsletter p,
.partner-name,
.testimonial-text,
.testimonial-author-name,
.pricing-offer-text,
.price-due-date,
address {
    color: #374754;
}

.hero,
.hero .title,
.pricing .main-title,
.pricing .title,
.pricing-offer-accent,
.pricing-offer-accent .pricing-offer-text,
.pricing-offer-accent .price-due-date {
    color: #ffffff;
}

.newsletter input[type="email"] {
    background-color: #E8E8E8;
    padding: 1.9rem 0 1.9rem 3.5rem;
    outline: #E8E8E8; 
}

.contact-form input {
    background-color: #F5F5F5;
}

.newsletter input[type="email"]::placeholder,
.contact-form input::placeholder {
    color: #18171D;
    /* opacity for Firefox */
    opacity: 1;
}

.newsletter input[type="email"]::-ms-input-placeholder,
.contact-form input:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #18171D;
}
  
.newsletter input[type="email"]::-ms-input-placeholder,
.contact-form input::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #18171D;
}

/* ------ Buttons */
/* font-size for EM units is set on class .btn in 1.2.Typography */
.btn,
.contact .btn {
    background-color: #2091F9;
    color: white;
    border-radius: 3.5rem;
    display: inline-block;
}

.btn-accent {
    background-color: white;
    color: #2091F9;
}

.hero-info .btn{
    padding: 1.3rem 6.8rem;
}

.btn-fastest-way,
.btn-partners {
    padding: 1.6rem 6rem;
}

.btn-testimonials {
    padding: 1.6rem 4.8rem;
}

.contact .btn {
    padding: 0 4.8rem;
}

.btn-pricing-offer {
    padding: 1.8rem 7.6rem;
    outline: #0081fa; 
}

/* ------ Hover Effects */
.btn:hover,
.contact .btn:hover {
    background-color: #0081fa;
    box-shadow: 0 0 2rem rgba(0,0,0,0.2),
                0 0.3rem 1rem rgba(0,0,0,0.6);
    transform: scale(1.02);
    transition: all 0.05s ease-in-out;  
}

.btn-accent:hover {
    background-color: white;
}

.newsletter input[type="email"]:hover,
.contact input:hover {
    box-shadow: 0 0 2rem rgba(0,0,0,0.2),
                0 0.3rem 1rem rgba(0,0,0,0.6);
    transition: all 0.05s ease-in-out; 
}

/* 1.4.Z-Index */


/* 1.5.Layout */
/* hidden text on mobile version up to 520px screen width */
.hidden-on-mobile {
    display: none;
}

header,
.social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-layout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



/* ===========================================
2.HERO 
*/
.hero {
    width: 100%;
    height: 87rem;
}

.hero-bg-mobile {
    background-image: url(../images/hero-bg-mobile.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.logo-img {
    width: 100%;
    min-width: 17rem;
    height: 7.8rem;
}

.social-icon-img {
    width: 3.2rem;
    height: auto;
}

/* .hero-info .main-title {
    padding: 9rem 4.2rem 3.5rem 4.2rem;
}

.hero-info .title {
    padding: 0 5.6rem 8rem 5.6rem;
} */


/* ===========================================
3.FEATURES 
*/
video {
    width: 38.6rem;
    height: 21.6rem;
    border-radius: 1.5rem;
    margin: 0 1.6rem 6.8rem 1.6rem;
}

.feature-icon {
    width: 4.6rem;
    height: auto;
}

.feature .small-title {
    padding: 2rem 11.2rem;
}

.feature p {
    padding: 0 9.35rem 7.5rem 9.35rem;
}


/* ===========================================
4.FASTEST WAY
*/
.btn-fastest-way {
    margin-bottom: 6rem;
}


/* ===========================================
5.NEWSLETTER
*/
.newsletter .small-title {
    padding-bottom: 2rem;
}

.newsletter .small-title-second {
    padding-bottom: 1rem;
}

.newsletter p {
    padding: 1rem 0 3.4rem 0;
}

.newsletter input {
    width: 35.3rem;
    height: 5.4rem;
    margin-bottom: 1.2rem;
    border: none;
    border-radius: 3.5rem;
}


/* ===========================================
6.PARTNERS
*/
.partner {
    width: 27.3rem;
    height: 15.1rem;
    padding: 2.5rem 4rem;
    border: 0.1rem solid #D8D8D8;
    margin: 1.8rem 0;
}

.partner-name {
    margin-bottom: 1.5rem;
}

.btn-partners {
    margin-top: 8rem;
}


/* ===========================================
7.TESTIMONIALS
*/
.testimonials-img {
    width: 12.6rem;
    height: auto;
    margin: 6rem 0 4.5rem 0;
}

.testimonial-text {
    padding: 0 5.9rem 4.5rem 5.9rem;
}

.testimonial-author {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 9.5rem;
}

.testimonial-author img {
    width: 4.2rem;
    height: auto;
    margin-right: 1.1rem;
}

.testimonial-author-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}


/* ===========================================
8.PRICING
*/
.pricing {
    background-color: #252B42;
}

.pricing-offer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 33.5rem;
    height: 63rem;
    background-color: white;
    border: 0.1rem solid #DEDEDE;
    border-radius: 1rem;
    box-shadow: 0 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
    margin-bottom: 5rem;
    padding: 4rem;
}

.pricing-offer-accent {
    background-color: #2091F9;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.price-amount {
    margin-right: 1rem;
}

.price-info > * {
    text-align: left;
}

.pricing-feature {
    padding: 1rem 0;
}

.pricing-offer-text,
.price,
.pricing-features {
    margin-bottom: 3rem;
}


/* ===========================================
9.CONTACT
*/
.contact address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 3.45rem;
    padding-right: 3.45rem;
}

.address-field {
    display: flex;
    justify-content: center;
    align-items: center;
}

.address-field-middle {
    padding: 2rem 0;
}

.icon-map {
    width: 2.6rem;
}

.icon-phone {
    width: 2.1rem;
}

.icon-mail {
    width: 2.7rem;
}

.address-text {
    margin-left: 2rem;
}

.contact-form {
    Width: 37.8rem;
    height: 66.9rem;
    border: 0.1rem solid #DDDDDD;
    border-radius: 2rem;
    box-shadow: 0rem 1.3rem 1.9rem rgba(0, 0, 0, 0.07);
    padding: 5.2rem 4.9rem;
}

.contact-form fieldset {
    border: none;
}

.contact .small-title {
    margin-bottom: 4rem;
}

.contact-form input {
    width: 28rem;
    height: 5.4rem;
    border: 0.1rem solid #E8E8E8;
    border-radius: 3.9rem;
    margin-bottom: 4rem;
    padding-left: 2rem;
}

.contact input[name="message"] {
    height: 19.3rem;
    border-radius: 0;
    padding-top: 2rem;
    padding-bottom: 15.4rem;
}

.contact-form .btn {
    width: 14.5rem;
    align-self: flex-start;
    border: none;
}


/* ===========================================
9.FOOTER
*/
footer,
footer address {
    background-color: #252B42;
    color: white;
}

.footer-section-middle {
    margin: 8.3rem 0;
}

.footer-section .small-title {
    margin-bottom: 0.9rem;
}

.footer-link {
    padding-top: 1.6rem;
}

footer address {
    margin: 7.6rem 0 3rem 0;
}

.icon-map-white {
    width: 3.5rem;
}

.icon-phone-white {
    width: 1.8rem;
    margin-left: 0.5rem;
}

footer address {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

footer .address-field {
    margin: 0.5rem 0;
}


 
